<!-- HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">► Для компаний - UpTrader</a>
      </div>
    </div>
</div>

  <div id="headerwrap">
    <div class="container">
      <div class="centered">
        <div class="">
          <h1>Меню через - Template Tag</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container w">
    <div class="row centered">
      <br><br>

      <div class="col-lg-4">
        <i class="fa fa-heart"></i>
        <h4>DESIGN</h4>
      </div>

      <div class="col-lg-4">
        <i class="fa fa-laptop"></i>
        <h4>DJANGO</h4>
      </div>

      <div class="col-lg-4">
        <i class="fa fa-trophy"></i>
        <h4>TEST TASK</h4>
      </div>

    </div>
    <br>
    <br>
</div>